body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #1a73e8;
    text-align: center;
    margin-bottom: 2rem;
}

.search-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

input[type="text"] {
    flex-grow: 1;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-style {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;
  }
  
  .input-style:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  


button {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
  }
  
  button:hover {
    letter-spacing: 3px;
    background-color: hsl(209, 86%, 52%);
    color: hsl(0, 0%, 100%);
    box-shadow:hsl(209, 86%, 52%);
  }
  
  button:active {
    letter-spacing: 3px;
    background-color: hsl(209, 86%, 52%);
    color: hsl(0, 0%, 100%);
    box-shadow: hsl(209, 86%, 52%);
    transform: translateY(10px);
    transition: 100ms;
  }
  
  
.student-details {
    background-color: #f8f9fa;
    border-radius: 4px;
    padding: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid black;
}

th {
    background-color: #827aece1;
    font-weight: bold;
}

tr:last-child td {
    border-bottom: 1px solid black;
}
